nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #acd3a3; /* Du kannst die Hintergrundfarbe anpassen */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Schatten */
}

nav .logo img {
  height: 150px; /* Passe die Höhe des Logos nach Bedarf an */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px; /* Abstand zwischen den Links */
}

nav ul li a {
  text-decoration: none;
  color: black; /* Linkfarbe */
  font-size: 25px;
  padding: 10px 15px;
  transition: color 0.3s;
  font-weight: 800;
}
